/*** Reset ***************************************************/
/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  padding: 0;
  margin: 0;

  border: 0;
}

/* HTML reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** General *************************************************/
html {
  height: 100%;
}

body {
  font-family: "Work Sans";
  font-size: 14px;

  display: flex;
  flex-direction: column;
  max-width: 1140px;
  height: 100%;
  margin: auto;
}

main {
  flex: 1;
}

section {
  margin: 50px 0;
}

h1 {
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;

  display: flex;
  flex-direction: column;
  color: #b1663c;
}
h2 {
  font-family: "Syne";
  font-size: 30px;
  font-weight: 700;
  color: #1d6154;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  font-family: "Syne";
  font-weight: 700;
  color: white;

  background-color: #1d6154;
  padding: 5px 15px;

  border-radius: 60px;
}

.input {
  font-size: 1.2em;

  height: 50px;
  padding-left: 10px;

  outline: none;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/*** Header *************************************************/
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

nav img {
  width: 25px;
}
header span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;

  margin-top: 10px;
}

nav ul {
  list-style-type: none;

  display: flex;
  align-items: center;
}

nav li {
  font-size: 1.2em;

  padding: 0 10px;
  margin-right: 30px;
}
nav li:last-child {
  margin-right: 0px;
}
li:hover {
  color: #b1663c;
  cursor: pointer;
}

/*** Home ***************************************************/
/* Introduction */
#introduction {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  width: 80%;
  margin: auto;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 15px;
}

/* Projects Title */
.section-projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.section-projects-title img {
  width: 12px;
  margin-left: 25px;
  margin-right: 15px;
}
.div-modify-works {
  display: flex;
  align-items: center;
}

/* Filter */
.filters {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.filters-button {
  color: #1d6154;

  background-color: transparent;
  margin-left: 10px;

  border: 1px solid #1d6154;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-top: 45px;
}

.gallery img {
  width: 100%;
}
.gallery figcaption {
  margin-top: 5px;
}

/* Contact */
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}

#contact h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}
#contact p {
  margin-bottom: 10px;
}

#contact form {
  text-align: left;

  display: flex;
  flex-direction: column;
}

#contact label {
  margin-top: 25px;
  margin-bottom: 10px;
}

#contact textarea {
  resize: none;

  padding: 10px;

  outline: none;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
  text-align: center;

  width: 180px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 30px;
}

/* Footer ***************************************************/
footer {
  padding-top: 40px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
}

/*** Login *************************************************/
.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.login-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.login-section h2 {
  margin-bottom: 10px;
}

.login-section label {
  align-self: flex-start;
  margin-top: 25px;
  margin-bottom: 5px;
}

.login-section input {
  width: 200px;

  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-section button {
  margin-top: 25px;
  margin-bottom: 20px;
}

.incorrect-login {
  text-align: center;

  width: 100%;
  margin-top: 20px;
}

.login-section a {
  text-decoration: underline;
}

/*** Modal General *********************************/
.modal {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-all-content {
  width: 33%;
  height: fit-content;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 75px;
}

.modal-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  box-sizing: border-box;
}

.modal-header-title {
  font-weight: bold;
  font-size: 16px;

  margin-top: 10px;
}

.modal-separator {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* Modal Close & Previous */
.modal-window-icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-close-icon {
  object-fit: contain;
  width: 5%;
}

.modal-previous-icon {
  object-fit: contain;
  width: 5%;
  margin-right: auto;
}

/* Modal Gallery */
.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px 1%;
  margin-top: 3%;
  margin-bottom: 20px;
}

.modal-individual-work {
  position: relative;
  margin-bottom: 10px;
}
.modal-img-work {
  width: 100%;
}

.modal-trash-block {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-content: center;
  width: 25%;
  height: 20%;
  background-color: black;
  margin: 5%;

  border-radius: 25%;
}
.modal-trash-block img {
  object-fit: contain;
  width: 60%;
}

/* Modal Add Work */
.modal-section-add-work {
  width: 100%;
}

/* Default Image + Form Image */
.modal-section-add-photo {
  display: flex;
  justify-content: center;
  height: 125px;
  background-color: gray;
  margin-top: 15px;
  margin-bottom: 20px;
}

.modal-default-img {
  object-fit: contain;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-add-photo {
  background-color: blue;
  margin-bottom: 10px;
}
.modal-section-add-photo input[type="file"] {
  display: none;
}
.modal-section-add-photo p {
  font-size: 10px;
}

/* Loaded Image */
.modal-section-add-photo-to-hide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-image-loaded {
  object-fit: contain;
  height: 100%;
}

/* Form Title + Category */
.modal-section-add-title-category {
  display: flex;
  flex-direction: column;
}

.modal-section-add-title-category label {
  margin-bottom: 5px;
}
.modal-section-add-title-category label[for="new-work-cat"] {
  margin-top: 10px;
}

.modal-section-add-title-category input,
.modal-section-add-title-category select {
  vertical-align: center;
}

.modal-section-add-title-category select {
  margin-bottom: 35px;
}
.modal-section-add-title-category option {
  padding-left: 10px;
}
.modal-section-add-title-category option[label=" "] {
  display: none;
}

/*** Classes for JavaScript ********************/
.hideClass {
  display: none;
}
#hideIntroduction {
  display: none;
}

.invalidClass {
  background-color: red;
}

.navActiveLi {
  font-weight: bold;
}

.activeButtonFilter {
  color: white;

  background-color: #1d6154;
}

.modal-main-button-change-style {
  background-color: grey;
  margin-bottom: 10px;
}
